# Собранные программы. У них нет расширения, поэтому проще перечислить, что
# в каталогах задач и демонстраций мы храним, а не наоборот.
day*/tasks/*
!day*/tasks/*.*
!day*/tasks/Makefile
day*/demo/*
!day*/demo/*.*

*-release
*.o
